# VS
.vs/*

# Debug
Debug/*
[Dd]ebug/*
*/[Dd]ebug/*

# Release
x32/
x64/
Release/*
[Rr]elease/*
*/[Rr]elease/*

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Local configuration
AdventOfCode/20*/Day**.txt